.calculator {
  width: 480px;
  height: 420px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  font-size: 28px;
}

.result {
  height: 16%;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  font-size: larger;
}

.column {
  height: 16%;
  display: flex;
}

.button {
  width: 120px;
  height: 100%;
  font-size: 28px;
}

.button.zero {
  width: 240px;
}

.operation {
  background-color: orange;
}

.zero {
  width: 50%;
}
